html {
  font-size: 100%;
  inline-size: 1.3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  /* Background colors */
  --mainBg: hsl(233, 47%, 7%);
  --cardBg: hsl(244, 38%, 16%);
  --softViolet: hsl(277, 64%, 61%);

  /* Text colors */
  --white: hsl(0, 0%, 100%);
  --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
  --statHeading: hsla(0, 0%, 100%, 0.6);
}
body {
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--slightlyTransparentWhite);
  background-color: var(--mainBg);
}
main {
  width: 100vw;
  background-color: var(--mainBg);
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69.5rem;
  height: 28rem;
  margin: 8.0625rem 6.3125rem 8.0625rem 6.3125rem ;
}
.text-card {
  background-color: var(--cardBg);
  border-radius: 0.4375rem 0 0 0.4375rem ;
  padding-top: 4.25rem;
  padding-left: 4.625rem;
  padding-right: 7.4375rem;
  padding-bottom: 4.0625rem;
}
h1{
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.enphasis{
  color:var(--softViolet)
}
.text-card p{
  line-height: 1.8;
}
.counter-component{
  display: flex;
  margin-top: 4.875rem;
  flex-wrap: wrap;
  gap:3.3125rem;
}
.counter {
  text-transform: uppercase;
}
.counter h2{
  color:var(--white);
  font-weight: 700;
}
.counter p{
  font-family: 'Lexend Deca', sans-serif;
  color:var(--statHeading);
}
.image-card{
  position: relative;
  height: 28rem;
  background-color:var(--softViolet);
  border-radius: 0 0.4375rem 0.4375rem 0 ;
}
img{
  height: 100%;
  mix-blend-mode: multiply;
}

@media (max-width:900px) {
  body{
    font-family: 10px;
  }  
  .card{
    flex-direction: column-reverse;
    width: 20.5rem;
    max-height: 48.8125rem;
    margin: 5.375rem 1.4375rem 5.375rem 1.4375rem;
  }
  .text-card{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2.4375rem;
    padding-top: 2.5rem;
    border-radius:0 0 0.4375rem 0.4375rem;
  }
  h1, .text-card p, .counter{
    text-align: center;
  }
  .counter-component{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;

    margin-top: 2.9375rem;
  }  
  .image-card{
    width: 20.5rem;
    border-radius: 0.4375rem 0.4375rem 0 0;
  }
  img{
    max-width: 100%;
  }
}
